$black: #222222;
$white: #ffffff;
$grey: #f7f7f7;
$blue: #32b4e7;


$titleFont: "Open sans";
$bodyFont: "Roboto";

* {
  box-sizing: border-box;
}

$font-size-h1-px:62px;
$font-size-h2-px:48px;
$font-size-h3-px:36px;
$font-size-score-px:24px;
$font-size-body-px: 18px;
$font-size-links-px: 14px;


$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-light: 200;


body {
  color: $black;
  font-family: $bodyFont;
  font-size: $font-size-body-px;
  margin: 0;
  background-color: $grey;
}

h1, h2, h3, h4, h5 {
  font-family: $titleFont;
  padding: 0;
  margin:0;
}

h3 {
  font-size: $font-size-score-px;
  text-decoration: none;
  color: $black;
}

h2 {
  font-size: $font-size-h2-px;
}

p {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

header, .main, footer, section {
  padding: 0 30px 0 30px;
}

header {
  position: relative;
  background-color: $black;
  width: 100%;
  overflow: hidden;
  padding: 10px 0 10px 30px;

  .logo {
      float: left;
      color: $white;
      text-decoration: none;
    }

  nav {
    float: right;
    line-height: 3;
    color: $white;
  }
}

.home {
  text-align: center;
  background-image:url(../assets/aaina-sharma-378569.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  padding-top: 150px;
  padding-bottom: 400px;
}

.search {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  font-size: $font-size-h1-px;
  text-decoration: none;
  color: $white;
}

.button {
  background: $blue;
  border-radius: 18px;
  color: $white;
  display: inline-block;
  font-family: $titleFont, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 24px;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
}

.button-outline {
  border: 2px solid $white;
  border-radius: 18px;
  color: $white;
  display: inline-block;
  font-family: $titleFont, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 24px;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px 30px 10px 30px;
}

.nav-links {
  color: $white;
  text-decoration: none;
  padding-left: 30px;
}

input {
  min-width: 200px;
  font-size: $font-size-links-px;
  margin: 5px 10px;
  padding:5px;
}


.container {
  margin-top: 20px;
}

.photos {
  display:flex;
  flex-wrap: wrap;
}


.photo {
  max-width: 300px;
  margin:20px 20px 20px 0;

  img {
    max-width: 300px;
  }
}
